.main{
     height: 100%;
     width: fit-content;
     border-radius: 16px;
     overflow: hidden;
     position: relative;
}
.img{
     width: 300px;
     height: 100%;
     object-fit: cover;
     /* position: relative; */

}
.cardContent{
     position: absolute;
     top: 0;
     left: 0;
     height: 99%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

}
.badge{
     background-color: white;
     font-size: x-large;
     font-weight: 600;
     border-radius: 50%;
     height: 26px;
     width: 26px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.content{
     text-shadow: 2px;
     font-size: x-large;
     color: white;
     margin: 14px;

}
.descBtn{
     color: white;
     font-size: medium;
     padding: 20px 16px;
     border-radius: 15px;
}
.arrwBtn{
     color: white;
     font-weight: 400;
     padding: 8px 8px;
     border-radius: 50%;

}