* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
#heading1{
     color: brown;

}
#btn{
     padding: 8px 15px;
     margin: 10px;
     background-color: cadetblue;
}