* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
     height: 100%;
     width: 100%;
     background-color: black; 
     display: flex;
     align-items: center;
     justify-content: center;
}
.card{
     height: 300px;
     width: 300px;
     background-color: white;
     padding: 10px;
     border-radius: 10px;
     position: relative;
     
}
.card img{
     width: 100%;
     height: 230px;
     object-fit: cover;
     margin-bottom: 10px;
     border-radius: 10px;
}
.card div{
     position: relative;
     overflow: hidden;
}
.card h2{
     font-size: 20px;
     text-align: center;
}
.card i{
     position: absolute;
     top: 50%;
     left: 50%;
     font-size: 70px;
     opacity: 0;
     /* background: linear-gradient(to right bottom, rgb(180,11,180),rgb(255, 0, 247)); */
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQqzquQfxPDixv8zJorAKdxJA3zQhGQFValr0vEr1i06Vp1tBsEYaG5QEZMCjj8x9xFwA&usqp=CAU);
     background-size: cover;

     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     transform: translate(-50%,-50%) scale(0) rotate(-60deg);
     transition: all cubic-bezier(.65,1,.77,1.44) 0.3s;
}