*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Helvetica Now Display;
}
html,body{
     height: 100%;
     width: 100%;
     background-color: antiquewhite;
}
#main{
     width: 100%;
     height: 100%;
     color: #111;
}
#nav{
     padding: 30px 70px;
}
#nav a{
     font-size: 25px;
     margin-right: 15px;
     text-decoration: none;
     color: #111;
}
#main>h1{
     font-size: 375px;
     padding-left: 30px;
     font-weight: 400;
}
#bottomLeft{
     width: 300px;
     position: absolute;
     bottom: 10%;
     left: 3%;
}

#bottomLeft h3{
     font-size: 30px;
}
#bottomLeft p{
     font-size: 18px;
     margin-top: 5px;
}
#bottomLeft h4{
     margin-top: 30px;
     font-size: 30px;
}
#btmBar{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 30px 40;
     position: absolute;
     bottom: 2%;
     left: 0;

}
#btmBar a{
     color: #111;
     text-decoration: none;
     font-size: 20px;
}
#main>img{
     position: absolute;
     /* height: 250px; */
}

#img1 {
    height: 270px;
    top: 42%;
    left: 56%;
    z-index: 3;
    border-radius: 12px;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.15);
}
#img2 {
    height: 170px;
    width: 145px;
    top: 56%;
    left: 67%;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.12);
    transform: rotate(15deg);
}
#img3 {
    height: 150px;
    top: 51%;
    left: 52%;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0px 6px 22px rgba(0,0,0,0.11);
    transform: rotate(-7deg);
}
