*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Helvetica Now Display;
}
html,body{
     height: 100%;
     width: 100%;
}
#main{
     width: 100%;
     height: 100%;
     color: #111;
}
#nav{
     padding: 30px 70px;
}
#nav a{
     font-size: 25px;
     margin-right: 15px;
     text-decoration: none;
     color: #111;
}
#main>h1{
     font-size: 375px;
     padding-left: 30px;
     font-weight: 400;
}
#bottomLeft{
     width: 300px;
     position: absolute;
     bottom: 10%;
     left: 3%;
}

#bottomLeft h3{
     font-size: 30px;
}
#bottomLeft p{
     font-size: 18px;
     margin-top: 5px;
}
#bottomLeft h4{
     margin-top: 30px;
     font-size: 30px;
}
#btmBar{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 30px 40;
     position: absolute;
     bottom: 2%;
     left: 0;

}
#btmBar a{
     color: #111;
     text-decoration: none;
     font-size: 20px;
}
#main>img{
     position: absolute;
     /* height: 250px; */
}

#img1{
     height: 300px;
     top: 45%;
     left: 60%;
}
#img2{
     height: 175px;
     width: 150px;
     top: 70%;
     left: 55%;
}
#img3{
     height: 175px;
     top: 60%;
     left: 48%;
}
