* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
     height: 100%;
     width: 100%;
     background: linear-gradient(to right bottom, rgb(26,26,26),rgb(35,35,35),black);
     padding: 20px;
}
section{
     height: 100%;
     width: 350px;
     background-color: black;
     border-radius: 10px;
     margin: auto;
}
.all-reels{
     height: 100%;
     width: 100%;
}
.reel{
     height: 100%;
     width: 100%;
     position: relative;
}
