*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing:border-box;
  text-decoration: none;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color: white;
}
h2{
  color: white;
}
.header{
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: crimson;
}
.header .nav{
  display: flex;
  align-items: center;
  gap: 40px;
  font-style: none;
  text-decoration: none;
  color: black;

}