.center{
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 10px;
     padding: 25px;
     height: 80%;
}
.left{
     background-color: #f1efef;

}
.right{
     background-color: #f1efef;

}