body{
     height: 100%;
     width: 100%;
}
main{
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
#btn{
     padding: 10px 20px;
     background-color: crimson;
     border: none;
     color: azure;
     font-weight: 600;
     font-size: 30px;
     border-radius: 12px;
     cursor: pointer;

}
#btn:active{
     scale: 0.95;
}