*{
  margin: 0;
  padding: 0;
}
html,body,#root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
} 
h1{
  margin: 30px;
  background-color: gainsboro;
  width: fit-content;
  padding: 10px 70px;
  
}
button{
  margin: 30px;
  background-color: beige;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
}