* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: black;
}
#box{
     width: 500px;
     height: 250px;
     border: 1px solid black;
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #fff;
}
#box h3 span{
     color: rgb(0, 0, 153);
     cursor: pointer;
}
#downloadbar{
     margin-top: 30px;
     width: 95%;
     background-color: gray;
     height: 15px;
}
#bar{
     width: 0%;
     height: 100%;
     background-color: green;
     animation-delay: 1ms;
     transition: 0.2s ease;
}
#status{
     width: 95%;
     margin: 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
#btn{
     padding: 10px 20px;
     border-radius: 10px;
     border: none;
     background-color: rgb(0, 243, 0);
     cursor: pointer;
     transition: 0.2s ease;
}
#btn:active{
     scale: 0.95;
}